

.flex {
	display: flex;
	flex-direction: column;
  	align-items: center;
}

.hide {
	display: none;
}

.game {
	padding: 2em;
	background-color: lightslategray;
	height: 100vh;
}

.m-2 {
	margin: 2em;
}